docs/My_workflow_2.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "id": "1583d9e6-448f-47c9-8d8a-73260cf82841",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        40,
        540
      ],
      "webhookId": "6b9bbef4-34cb-4aa1-a09a-9c2d51e192df",
      "credentials": {
        "telegramApi": {
          "id": "sIlthm989xwREHaG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ad5845b-28b5-4159-891a-cc0745ba5b8a",
              "name": "language_native",
              "value": "english",
              "type": "string"
            },
            {
              "id": "d2543cc3-6bb3-4764-b8d1-42ac8ad5f8b0",
              "name": "language_translate",
              "value": "french",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "8813c2d9-3959-4904-8d32-7695892c32ed",
      "name": "Settings",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [
        240,
        540
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cd0023fe-c0ed-437d-97e3-9ecaa9c71d9b",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        1100,
        580
      ],
      "credentials": {
        "openAiApi": {
          "id": "TZMihWDepf9SLLLo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Detect the language of the text that follows.\n- If it is {{ $('Settings').item.json.language_native }} translate to {{ $('Settings').item.json.language_translate }}\n- If it is {{ $('Settings').item.json.language_translate }} translate to {{ $('Settings').item.json.language_native }}\n- In the output just provide the translation and do not explain it. Just provide the translation without anything else. \n\nText:\n{{ $json.text }}"
      },
      "id": "9683d8ed-f157-464e-aa31-663b5a81a004",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        1080,
        360
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "voice"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "3bdde49a-00d3-4a65-a211-ea700e933d0a",
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.photo[2].file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "image"
            }
          ]
        },
        "options": {}
      },
      "id": "85e8c77c-62d6-4aef-8bd7-e61b2541b415",
      "name": "Switch",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        460,
        540
      ]
    },
    {
      "parameters": {
        "model": "claude-3-haiku-20240307",
        "options": {}
      },
      "id": "026021e6-4d5f-4147-8ae5-38361c948f67",
      "name": "Anthropic Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.1,
      "position": [
        900,
        1020
      ],
      "credentials": {
        "anthropicApi": {
          "id": "RH3oheadenNPUbCK",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Translate the image from to  {{ $('Switch').item.json.language_native }}"
      },
      "id": "5eff77e6-fc39-4c84-8274-31d4208e79dd",
      "name": "Basic LLM Chain1",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [
        880,
        800
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.photo[2].file_id }}"
      },
      "id": "99b515a7-fdea-4b99-993d-e651c595f4ca",
      "name": "Get Image",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        800
      ],
      "credentials": {
        "telegramApi": {
          "id": "sIlthm989xwREHaG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $('Telegram Trigger').item.json.message.voice.file_id }}"
      },
      "id": "ad00ab85-5af4-41a1-b906-71fdda071146",
      "name": "Get Audio",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        660,
        360
      ],
      "credentials": {
        "telegramApi": {
          "id": "sIlthm989xwREHaG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "id": "0cd28220-2418-4991-9508-708e2ad7083a",
      "name": "Transcribe Audio-to-Text",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        880,
        360
      ],
      "credentials": {
        "openAiApi": {
          "id": "TZMihWDepf9SLLLo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "input": "={{ $json.text }}",
        "voice": "nova",
        "options": {}
      },
      "id": "6368c977-c685-460b-b132-60fcc1b9eae9",
      "name": "Transcribe Text-to-Audio",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.3,
      "position": [
        1420,
        360
      ],
      "credentials": {
        "openAiApi": {
          "id": "TZMihWDepf9SLLLo",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendAudio",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "additionalFields": {}
      },
      "id": "d6975ffb-7017-49a5-bb62-bf46327733d3",
      "name": "Send Audio Msg to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1640,
        360
      ],
      "credentials": {
        "telegramApi": {
          "id": "sIlthm989xwREHaG",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $('Basic LLM Chain').item.json.text }}",
        "additionalFields": {}
      },
      "id": "5db5a5a5-7eff-46c1-be3d-f2a2ac07469b",
      "name": "Send Text Msg to Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1560,
        580
      ],
      "credentials": {
        "telegramApi": {
          "id": "sIlthm989xwREHaG",
          "name": "Telegram account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Transcribe Text-to-Audio",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Text Msg to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Get Audio",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Send Text Msg to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Audio": {
      "main": [
        [
          {
            "node": "Transcribe Audio-to-Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Audio-to-Text": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Transcribe Text-to-Audio": {
      "main": [
        [
          {
            "node": "Send Audio Msg to Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b3e86127-2889-4322-962c-10c7a63f142a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "5224f86713562fbe271730c21168fcdfe6beddd107f424bb9459f98c8a5c9da1"
  },
  "id": "CdM5UVdJ0lbnsBHa",
  "tags": []
}